<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="ImageShrinker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="ImageShrinker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <applicationSettings>
        <ImageShrinker.Properties.Settings>
            <setting name="GmxSMTP" serializeAs="String">
                <value>mail.gmx.net</value>
            </setting>
            <setting name="TOnlineSMTP" serializeAs="String">
                <value>smtpmail.t-online.de</value>
            </setting>
            <setting name="GoogleMailSMTP" serializeAs="String">
                <value>smtp.googlemail.com</value>
            </setting>
            <setting name="WebDeSMTP" serializeAs="String">
                <value>smtp.web.de</value>
            </setting>
            <setting name="FreeNetSMTP" serializeAs="String">
                <value>mx.freenet.de</value>
            </setting>
            <setting name="HotmailSMTP" serializeAs="String">
                <value>smtp.live.com</value>
            </setting>
            <setting name="TOnlinePOP3" serializeAs="String">
                <value>popmail.t-online.de</value>
            </setting>
        </ImageShrinker.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <ImageShrinker.Properties.Settings>
            <setting name="ProviderIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value/>
            </setting>
            <setting name="UserPassword" serializeAs="String">
                <value/>
            </setting>
            <setting name="EMailAdress" serializeAs="String">
                <value/>
            </setting>
            <setting name="GoogleMailPOP3" serializeAs="String">
                <value>pop.googlemail.com</value>
            </setting>
            <setting name="WebDePOP3" serializeAs="String">
                <value>pop3.web.de</value>
            </setting>
            <setting name="FreeNetPOP3" serializeAs="String">
                <value>mx.freenet.de</value>
            </setting>
            <setting name="HotmailPOP3" serializeAs="String">
                <value>pop3.live.com</value>
            </setting>
            <setting name="GmxPOP3" serializeAs="String">
                <value>pop.gmx.net</value>
            </setting>
        </ImageShrinker.Properties.Settings>
    </userSettings>
</configuration>
